<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="~{layout/template}">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<title th:text="#{index.title}"></title>
	<script>
    	window.onload = function() {
    		  document.forms['samlForm'].submit();
   		}
    </script>
</head>
<body>
<div id="container">
	<div id="content" layout:fragment="content">
		<div class="row">
	    	<div class="col s12">
				<div class="right-align"><img style="width: 24px;margin-top: 2px;" th:src="@{/css/flags/__${user.countryCode.toLowerCase()}__.png}"/></div>	    	
				<h6 class="right-align" th:text="#{response.welcome1} + ${user.firstName} + ' ' + ${user.lastName} + '(' + ${user.dateOfBirth} + ')' + #{response.welcome2}" ></h6>
				<h6 class="right-align" th:with="baseUrl=@{/}"><a th:href="@{/logout}" th:text="#{response.logout}"></a></h6>
				
				<div class="col s4">
					<div class="card">
						<div class="card-content">
							Online company registration:
							<ul>
								<li><i class="material-icons">check_box</i> company data requested</li>
								<li><i class="material-icons">check_box</i> company data received</li>
								<li><i class="material-icons">check_box_outline_blank</i> registration confirmed</li>
							</ul>							
						</div>
					</div>
				</div> 
				
				<div class="col s8">
					<div class="card">
						<div class="card-image">
							<img id="img" alt="toop" class="responsive-img" th:src="@{/css/logo_TOOP_dash_1.png}"/>
						</div>
						<div class="card-content">
							<b th:text="#{index.header}"></b>
							<p>
							Company data received:
							</p>
							<p th:text="${companyResult}"></p>
							
							<a class="btn waves-effect waves-light" th:href="@{/landing6}">Create account
							</a>
						</div>
					</div>
				</div>
		     	<div th:text="${errorMessage}"></div>

     	
     		</div>
     	</div>

	</div>
</div>
</body>
</html>