<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="~{layout/template}">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<title th:text="#{index.title}"></title>

</head>
<body>
<div id="container">
	<div id="content" layout:fragment="content">
		<div class="row">
	    	<div class="col s12">
	    		<div class="right-align"><img style="width: 24px;margin-top: 2px;" th:src="@{/css/flags/__${user.countryCode.toLowerCase()}__.png}"/></div>
				<h6 class="right-align" th:text="#{response.welcome1} + ${user.firstName} + ' ' + ${user.lastName} + '(' + ${user.dateOfBirth} + ')' + #{response.welcome2}" ></h6>
				<h6 class="right-align" th:with="baseUrl=@{/}"><a th:href="@{/logout}" th:text="#{response.logout}"></a></h6>
				
				
				<div class="col s4">
					<div class="card">
						<div class="card-content">
							<a class="btn waves-effect waves-light disabled" th:href="@{/landing2}">Represent
							</a>
							<a class="btn waves-effect waves-light disabled">Registration
							</a>
							<a class="btn waves-effect waves-light" th:href="#{tvsresponse.survey2.url}">Survey
							</a>
						</div>
					</div>
				</div> 
				
				<div class="col s8">
					<div class="card">
						<div class="card-image">
							<img id="img" alt="toop" class="responsive-img" th:src="@{/css/logo_TOOP_dash_1.png}"/>
						</div>
						<div class="card-content">
							<b th:text="#{index.header}"></b>
							<p>Please enter the identifier of the company you want to represent.</p>
							<form action="#" th:action="@{/enter_company}" th:object="${company}" method="post">
								<fieldset>
									<input type="text" th:field="*{name}" />									
									<button class="btn waves-effect waves-light" type="submit" id="login">Ok
									</button>
								</fieldset>
							</form>
							
						</div>
					</div>
				</div>
		     	<div th:text="${errorMessage}"></div>

     	
     		</div>
     	</div>

	</div>
</div>
</body>
</html>